@import "Global";

.about-container {
  margin-bottom: 100px;
  margin-top: 50px;
}

.about-list {
  padding: 0;
  padding-left: 1rem;
}

.about-title {
  margin-bottom: 2rem;
}

.expertise-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

.about-image-container {
  text-align: center;
  margin-left: 1rem;
  @include for-size(phone-only) {
    width: 100%;
    margin-bottom: 50px;
    margin-left: 0;
  }
  .about-image {
    width: 100%;
    height: auto;
    display: none;
  }
}

@include for-size(phone-only) {
  .about {
    .about-content {
      margin-top: 2rem;
      display: block;
      width: 100%;
    }
  }
}
@include for-size(tablet-portrait-up) {
  .about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .about-content {
      margin-right: 1rem;
    }
  }
}

.expertise-title {
  font-size: 32px;
  margin-bottom: 50px;
}

.expertise-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 50px;
  @include for-size(tablet-portrait-up) {
    grid-template-columns: repeat(auto-fill, 150px);
    grid-gap: 50px;
  }
  @include for-size(phone-only) {
    grid-template-columns: repeat(auto-fill, 100px);
    grid-gap: 100px;
  }
  .expertise-item {
    display: flex;
    align-items: center;
    font-weight: 700;
    img {
      height: 32px;
      width: 32px;
      margin-right: 0.5rem;
    }
  }
}

@include for-size(tablet-landscape-up) {
}
@include for-size(desktop-up) {
}
