@import "Global";

.about-container {
  margin-bottom: 50px;
}

@include for-size(phone-only) {
  .about {
    .about-content {
      margin-top: 2rem;
      display: block;
      .about-image-container {
        .about-image {
          max-width: 100%;
        }
      }
    }
  }
}
@include for-size(tablet-portrait-up) {
  .about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .about-content {
      width: 50%;
      margin-right: 1rem;
    }
    .about-image-container {
      width: 50%;
      margin-left: 1rem;
      .about-image {
        width: 100%;
        height: auto;
      }
    }
  }
}
@include for-size(tablet-landscape-up) {
}
@include for-size(desktop-up) {
}
