@import "Global";

.about-container {
  margin-bottom: 50px;
  margin-top: 50px;

}

.about-image-container {
  width: 50%;
  text-align: center;
  @include for-size(phone-only) {
    width: 100%;
    margin-bottom: 50px;
  }
  .about-image {
    width: 100%;
    height: auto;
  }
}

@include for-size(phone-only) {
  .about {
    .about-content {
      margin-top: 2rem;
      display: block;
      width: 100%;
    }
  }
}
@include for-size(tablet-portrait-up) {
  .about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .about-content {
      width: 50%;
      margin-right: 1rem;
    }
  }
}

@include for-size(tablet-landscape-up) {
}
@include for-size(desktop-up) {
}
