@import "Global";

// Breadcrumb

.breadcrumb {
  margin-bottom: 50px;
  border-bottom: 5px solid $brand-color-one;
  padding: 50px 0;
  .breadcrumb-title {
    color: $brand-color-one;
    font-family: $main-font;
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
  }
  @include for-size(phone-only) {
    margin-bottom: 50px;
    .breadcrumb-title {
      font-size: 1.5rem;
    }
  }
}

// Button

.Button {
  border: 3px solid $brand-color-one;
  padding: 10px 20px;
  text-decoration: none;
  color: $font-color-light;
  font-size: 18px;
  font-weight: 700;
  display: block;
  width: 140px;
  border-radius: 2px;
  transition: 0.25s;
  background: $brand-color-one;
}

.Button:hover {
  transition: 0.25s;
  background: none;
}

// Card

.card-container {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  width: 100%;
  margin-bottom: 1rem;
  margin-right: 1rem;
  display: flex;
  justify-content: space-around;
  @include for-size(phone-only) {
    display: block;
    .card-icon-container {
      padding-top: 1rem;
    }
  }
  .card-icon-container {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    .card-icon {
      width: 120px;
    }
  }

  .card-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    .card-heading {
      margin-bottom: 1rem;
    }
    .card-description {
      margin: 0;
    }
  }
}

.card-row {
  display: block;
  margin-bottom: 2rem;
}

// Information

.information-container {
  .information-title {
    font-family: $main-font;
    font-size: 1.25rem;
  }
  .information-email {
    display: block;
    margin: 1rem 0;
    font-size: 0.913rem;
  }
  .information-text,
  .information-copyright {
    display: block;
    font-size: 0.913rem;
  }
  .information-text {
    margin: 0;
    padding: 0;
  }
}
.information-email:hover {
  color: $brand-color-one;
}

// Social

.social-container {
  .social-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .social-icon {
    display: inline-block;
    margin: 0;
  }
  .social-icon:nth-child(even) {
    padding: 0 1rem;
  }
}

.social-icon:hover {
  a {
    span {
      color: $brand-color-one !important;
    }
  }
}

// Sitemap

.sitemap-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 2rem;
  .sitemap-link {
    display: block;
    font-family: $main-font;
    font-size: 1.25rem;
    font-weight: 900;
  }
  .sitemap-sublinks-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  .sitemap-sublink-item {
    padding: 0;
    margin: 0;
    :hover {
      color: $brand-color-one;
    }
  }
  .sitemap-sublink {
    display: block;
    font-size: 0.913rem;
    margin-bottom: 0.5rem;
  }
  .sitemap-links {
    > * {
      margin-bottom: 1rem;
    }
  }
  @include for-size(phone-only) {
    justify-content: space-between;
  }
  @include for-size(tablet-portrait-up) {
    margin-left: 2rem;
    .sitemap-sublinks-container {
      margin-right: 0.5rem;
    }
    .sitemap-links {
      margin-left: 0.5rem;
    }
    .sitemap-sublinks-container {
      margin-left: 0.5rem;
    }
  }
}
.sitemap-link:hover {
  color: $brand-color-one;
}

//Section

.section {
  display: block;
  margin-bottom: 100px;
  padding: 1rem;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  
  .section-image {
    margin-bottom: 1rem;
    height: 320px;
    background-size: cover;
    background-repeat: no-repeat, repeat;
    background-position: center center;
    filter: sepia(40%);
    @include for-size(phone-only) {
      height: 160px;
    }

    img {
      height: 60px;
    }
  }
  .section-header {
    color: $font-color-dark;
    font-size: 28px;
    padding: 1rem 0;
    @include for-size(phone-only) {
      font-size: 22px;
    }
  }
  .section-description,
  .section-extra {
    color: $font-color-darken;
  }
  .section-extra {
    font-family: $main-font;
    font-weight: 900;
  }
  .section-content {
    @include for-size(phone-only) {
      width: 100%;
    }
    align-content: center;
    hr {
      margin: 1rem 0;
      padding: 0;
    }
  }
}
