@import "Global";

// Breadcrumb

.breadcrumb {
  h6 {
    color: $brand-color-one;
  }
}

// Button

.Button {
  border: 2px solid $brand-color-one;
  padding: 10px 20px;
  text-decoration: none;
  color: $brand-color-one;
  font-size: 18px;
  font-weight: 700;
  display: block;
  width: 140px;
  border-radius: 2px;
  transition: 0.5s;
}

.Button:hover {
  background: $brand-color-one;
  color: $font-color-light;
  transition: 0.5s;
}

// Quote

.quote-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 2px;
  > * {
    margin: 1.25rem;
  }
  .quote-number,
  .quote-text {
    color: $font-color-light;
  }
}

.quote-container {
  @include for-size(phone-only) {
    .quote-number {
      font-size: 2rem;
    }
    .quote-text {
      font-size: 0.875rem;
    }
  }
  @include for-size(tablet-portrait-up) {
    .quote-number {
      font-size: 2rem;
    }
    .quote-text {
      font-size: 0.75rem;
    }
  }
  @include for-size(tablet-landscape-up) {
    .quote-number {
      font-size: 3rem;
    }
    .quote-text {
      font-size: 0.875rem;
    }
  }
  @include for-size(desktop-up) {
    height: 150px;
    .quote-number {
      font-size: 4rem;
    }
    .quote-text {
      font-size: 1.15rem;
    }
  }
}

// Information

.information-container {
  .information-title {
    font-family: "FF_Mark_Bold", "sans serif";
    font-size: 1.25rem;
  }
  .information-email {
    display: block;
    margin: 1rem 0;
    font-size: 0.913rem;
  }
  .information-text,
  .information-copyright {
    display: block;
    font-size: 0.913rem;
  }
  .information-text {
    margin:0;
    padding:0;
  }
}

// Social

.social-container {
  .social-list {
    list-style-type: none;
    padding: 0;
    margin:0;
  }
  .social-icon {
    display: inline-block;
    margin:0;
  }
  .social-icon:nth-child(even) {
    padding: 0 1rem;
  }
}

// Sitemap

.sitemap-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 2rem;
  .sitemap-link {
    display: block;
    font-family: "FF_Mark_Bold", "sans serif";
    font-size: 1.25rem;
  }
  .sitemap-sublinks-list {
    padding: 0;
    margin:0;
    list-style-type: none;
  }
  .sitemap-sublink-item {
    padding:0;
    margin:0;
  }
  .sitemap-sublink {
    display: block;
    font-size: 0.913rem;
    margin-bottom: 0.5rem;
  }
  .sitemap-links {
    > * {
      margin-bottom: 1rem;
    }
  }
  @include for-size(phone-only) {
    justify-content: space-between;
  }
  @include for-size(tablet-portrait-up) {
    margin-left: 2rem;
    .sitemap-sublinks-container {
      margin-right: 0.5rem;
    }
    .sitemap-sublinks-container {
      margin-left: 0.5rem;
    }
  }
}

//Section

.section-container {
  height: auto;
}

.section-container:nth-child(odd) {
  .section-image {
    margin-right: 1rem;
    @include for-size(phone-only) {
      margin-right: 0rem;
    }
  }
  .section-content {
    margin-left: 1rem;
    @include for-size(phone-only) {
      margin-left: 0rem;
    }
  }
}

.section-container {
  @include for-size(phone-only) {
    .section-image {
      margin-bottom: 1rem;
    }
    .section-content {
      margin-top: 1rem;
    }
  }
}

.section-container:nth-child(even) {
  .section-image {
    margin-left: 1rem;
    @include for-size(phone-only) {
      margin-left: 0rem;
    }
  }
  .section-content {
    margin-right: 1rem;
    @include for-size(phone-only) {
      margin-right: 0rem;
    }
  }
}

.section-container:nth-child(1n) {
  background: #f5f5f5;
}

.section-container:nth-child(2n) {
  background: #fff;
  .section {
    flex-direction: row-reverse;
  }
}

.section-container:nth-child(3n) {
  background: $font-color-dark;
  .section-header,
  .section-description,
  .section-extra {
    color: $font-color-light;
  }
}

.section-container:last-child {
  background: #f5f5f5;
  .section {
    .section-header {
      color: $font-color-dark;
    }
    .section-header,
    .section-description,
    .section-extra {
      color: $font-color-darken;
    }
  }
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5rem 0;
  @include for-size(phone-only) {
    display: block;
    padding: 5rem 0;
  }
  .section-image {
    vertical-align: center;
    img {
      width: 100%;
      max-height: 400px;
      height: auto;
    }
  }

  > * {
    flex: 1;
  }
  .section-header {
    color: $font-color-dark;
    font-size: 28px;
    @include for-size(phone-only) {
      font-size: 22px;
    }
  }
  .section-description,
  .section-extra {
    color: $font-color-darken;
  }
  .section-extra {
    font-family: "FF_Mark_Bold";
  }
  .section-content {
    width: 50%;
    @include for-size(phone-only) {
      width: 100%;
    }
    align-content: center;
    hr {
      margin: 1rem 0;
      padding: 0;
    }
  }
}
