@import "Global";

.header-container {
  height: 80px;


  background: $gradient;
  .header-mobile-anchor {
    display: inline-block !important;
  }
}

.header-desktop-nav {
  position: absolute;
  right: 0;
  top: 24px;
  .header-desktop-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-content: center;
  }
  .header-desktop-menu-item {
    margin-left: 1.5rem;
    :hover {
      opacity: 0.5;
    }
  }
}

.header-desktop-logo {
  position: absolute;
  top: 24px;
  height: 32px;
}

.header-mobile-logo {
  left: 24px !important;
  top: 16px !important;
  height: 24px;
}

.header-mobile-list {
  margin: 0;
  padding: 0;
}

.header {

  @include for-size(phone-only) {
    position: fixed;
    background: inherit;
    width: 100%;
    height: 80px;
    z-index: 1000;
  }
}

.hidden {
  overflow: hidden;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  top: 25px;
  display: none;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $font-color-light;
  height: 4px !important;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  span {
    top: 0;
    right: 0;
  }
}

.header-desktop-menu-item {
  a {
  font-weight: 400;
  }
}

.header-mobile-menu-link {
  font-weight: 900;
}

.header-mobile-email {
  color: $font-color-darken !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: $font-color-dark;
}

/* General sidebar styles */
.bm-menu {
  background: #fff;
  padding: 1.5em 1.5em 0;
  text-align: center;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: $brand-color-one;
}

/* Wrapper for item list */
.bm-item-list {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 40px;
  font-weight: 700;
  li {
    list-style-type: none;
    margin-bottom: 1.5rem;
  }
  ul {
    padding: 0;
  }
  a {
    text-decoration: none;
    color: $font-color-dark;
  }
}

.header-mobile-hr {
  background: $font-color-darken !important;
  margin: 1rem 0;
}

.header-mobile-copyright {
  font-size: 0.913rem;
}

/* Styling of overlay */
.bm-overlay {
  background: $font-color-light;
  height: 100vh;
  color: $font-color-light;
}

// MEDIA

@include for-size(phone-only) {
  .header-desktop-logo {
    left: 1rem;
  }
  .bm-burger-button {
    right: 1rem;
    display: block;
  }
  .header-desktop-nav {
    display: none;
  }
}
@include for-size(tablet-portrait-up) {
  .header-desktop-logo {
    left: 5rem;
  }
  .bm-burger-button,
  .header-desktop-nav {
    right: 5rem;
  }
}
@include for-size(tablet-landscape-up) {
  .header-desktop-logo {
    left: 5rem;
  }
  .bm-burger-button,
  .header-desktop-nav {
    right: 5rem;
  }
}
@include for-size(desktop-up) {
  .header-desktop-logo {
    left: 20rem;
  }
  .bm-burger-button,
  .header-desktop-nav {
    right: 20rem;
  }
}
