@import "Global";

// Desktop
.home-container {
  margin: 100px 0;
  @include for-size(phone-only) {
    margin:0;
}
}

.home {
  text-align: center;
  position: relative;
  margin-bottom: 50px;
  h1 {
    color: $font-color-dark;
  }
  p {
    color: $font-color-darken;
  }
}

.call-to-action-container {
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 50px;
  .call-to-action {
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    align-items: center;
    > * {
      margin: 1rem;
    }
  }
  @include for-size(phone-only) {
    background-color: rgba(255, 255, 255, 0.85);

    h1 {
      font-size: 1.75rem;
    }
    p {
      font-size: 1rem;
    }
  }
  @include for-size(tablet-portrait-up) {
    h1 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.15rem;
    }
  }
  @include for-size(tablet-landscape-up) {
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1.25rem;
    }
  }
  @include for-size(desktop-up) {
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1.25rem;
    }
  }
}

.image-container {
  width: 100%;
  height: auto;
  display: absolute;
  margin-left: -15%;
  margin-right: -15%;
}

// Animations

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
