@import "Global";

.services-intro-title {
  font-size: 2rem;
  display: block;
  @include for-size(phone-only) {
    font-size: 28px;
  }
}
.services-intro-description{
    font-size: 1.15rem;
}

.services-intro {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.services-container {
    padding-top: 50px;
}

.services-intro-description {
    width: 50%;
}

.services-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 100px;
    margin-bottom: 100px;
}