@media (max-width: 699px) {
  .home-container,
  .about-container,
  .career-container,
  .services-container,
  .contact-container,
  .footer {
    margin-left: 1rem;
    margin-right: 1rem; } }

@media (min-width: 700px) {
  .home-container,
  .about-container,
  .career-container,
  .services-container,
  .contact-container,
  .footer {
    margin-left: 5rem;
    margin-right: 5rem; } }

@media (min-width: 900px) {
  .home-container,
  .about-container,
  .career-container,
  .services-container,
  .contact-container,
  .footer {
    margin-left: 5rem;
    margin-right: 5rem; } }

@media (min-width: 1200px) {
  .home-container,
  .about-container,
  .career-container,
  .services-container,
  .contact-container,
  .footer {
    margin-left: 20rem;
    margin-right: 20rem; } }

@media (max-width: 699px) {
  h1 {
    font-size: 2rem; } }

@media (min-width: 700px) {
  h1 {
    font-size: 2.5rem; } }

@media (min-width: 900px) {
  h1 {
    font-size: 3rem; } }

@media (min-width: 1200px) {
  h1 {
    font-size: 4rem; } }

.contact-container {
  margin-bottom: 100px; }
  .contact-container .invitation {
    margin-bottom: 50px; }

.form-container form > * {
  display: block; }
  .form-container form > * > * {
    display: block; }

.form-container input::placeholder {
  font-size: 1rem; }

.form-container input,
.form-container textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  padding: 1rem;
  box-sizing: border-box;
  -webkit-border-radius: 0;
  border-radius: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  background: transparent;
  color: #323648;
  width: 40%;
  margin-bottom: 2rem; }
  @media (max-width: 699px) {
    .form-container input,
    .form-container textarea {
      width: 100%; } }

.form-container input:focus,
.form-container textarea:focus {
  box-shadow: none;
  border: 1px solid rgba(33, 33, 33, 0.6); }

.form-container textarea {
  height: 10rem; }

button {
  outline: none; }

.success {
  background: #4BB543;
  border-color: #4BB543; }

.success:hover {
  background: #4BB543;
  border-color: #4BB543;
  color: #fff; }
