@media (max-width: 799px) {
  .home-container,
  .about-container,
  .career-container,
  .services-container,
  .contact-container,
  .footer {
    margin-left: 1rem;
    margin-right: 1rem; } }

@media (min-width: 800px) {
  .home-container,
  .about-container,
  .career-container,
  .services-container,
  .contact-container,
  .footer {
    margin-left: 5rem;
    margin-right: 5rem; } }

@media (min-width: 900px) {
  .home-container,
  .about-container,
  .career-container,
  .services-container,
  .contact-container,
  .footer {
    margin-left: 5rem;
    margin-right: 5rem; } }

@media (min-width: 1200px) {
  .home-container,
  .about-container,
  .career-container,
  .services-container,
  .contact-container,
  .footer {
    margin-left: 20rem;
    margin-right: 20rem; } }

@media (max-width: 799px) {
  h1 {
    font-size: 2rem; } }

@media (min-width: 800px) {
  h1 {
    font-size: 2.5rem; } }

@media (min-width: 900px) {
  h1 {
    font-size: 3rem; } }

@media (min-width: 1200px) {
  h1 {
    font-size: 4rem; } }

.breadcrumb {
  margin-bottom: 50px;
  border-bottom: 5px solid #ff3366;
  padding: 50px 0; }
  .breadcrumb .breadcrumb-title {
    color: #ff3366;
    font-family: "Lato", sans-serif;
    font-size: 2.5rem;
    margin: 0;
    padding: 0; }
  @media (max-width: 799px) {
    .breadcrumb {
      margin-bottom: 50px; }
      .breadcrumb .breadcrumb-title {
        font-size: 1.5rem; } }

.Button {
  border: 3px solid #ff3366;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  display: block;
  width: 140px;
  border-radius: 2px;
  transition: 0.25s;
  background: #ff3366; }

.Button:hover {
  transition: 0.25s;
  background: none; }

.card-container {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  width: 100%;
  margin-bottom: 1rem;
  margin-right: 1rem;
  display: flex;
  justify-content: space-around; }
  @media (max-width: 799px) {
    .card-container {
      display: block; }
      .card-container .card-icon-container {
        padding-top: 1rem; } }
  .card-container .card-icon-container {
    display: flex;
    align-items: center;
    margin-left: 1rem; }
    .card-container .card-icon-container .card-icon {
      width: 120px; }
  .card-container .card-content {
    padding: 1rem;
    display: flex;
    flex-direction: column; }
    .card-container .card-content .card-heading {
      margin-bottom: 1rem; }
    .card-container .card-content .card-description {
      margin: 0; }

.card-row {
  display: block;
  margin-bottom: 2rem; }

.information-container .information-title {
  font-family: "Lato", sans-serif;
  font-size: 1.25rem; }

.information-container .information-email {
  display: block;
  margin: 1rem 0;
  font-size: 0.913rem; }

.information-container .information-text,
.information-container .information-copyright {
  display: block;
  font-size: 0.913rem; }

.information-container .information-text {
  margin: 0;
  padding: 0; }

.information-email:hover {
  color: #ff3366; }

.social-container .social-list {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.social-container .social-icon {
  display: inline-block;
  margin: 0; }

.social-container .social-icon:nth-child(even) {
  padding: 0 1rem; }

.social-icon:hover a span {
  color: #ff3366 !important; }

.sitemap-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 2rem; }
  .sitemap-container .sitemap-link {
    display: block;
    font-family: "Lato", sans-serif;
    font-size: 1.25rem;
    font-weight: 900; }
  .sitemap-container .sitemap-sublinks-list {
    padding: 0;
    margin: 0;
    list-style-type: none; }
  .sitemap-container .sitemap-sublink-item {
    padding: 0;
    margin: 0; }
    .sitemap-container .sitemap-sublink-item :hover {
      color: #ff3366; }
  .sitemap-container .sitemap-sublink {
    display: block;
    font-size: 0.913rem;
    margin-bottom: 0.5rem; }
  .sitemap-container .sitemap-links > * {
    margin-bottom: 1rem; }
  @media (max-width: 799px) {
    .sitemap-container {
      justify-content: space-between; } }
  @media (min-width: 800px) {
    .sitemap-container {
      margin-left: 2rem; }
      .sitemap-container .sitemap-sublinks-container {
        margin-right: 0.5rem; }
      .sitemap-container .sitemap-links {
        margin-left: 0.5rem; }
      .sitemap-container .sitemap-sublinks-container {
        margin-left: 0.5rem; } }

.sitemap-link:hover {
  color: #ff3366; }

.section {
  display: block;
  margin-bottom: 100px;
  padding: 1rem;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); }
  .section .section-image {
    margin-bottom: 1rem;
    height: 320px;
    background-size: cover;
    background-repeat: no-repeat, repeat;
    background-position: center center;
    filter: sepia(40%); }
    @media (max-width: 799px) {
      .section .section-image {
        height: 160px; } }
    .section .section-image img {
      height: 60px; }
  .section .section-header {
    color: #323648;
    font-size: 28px;
    padding: 1rem 0; }
    @media (max-width: 799px) {
      .section .section-header {
        font-size: 22px; } }
  .section .section-description,
  .section .section-extra {
    color: #6d6f7b; }
  .section .section-extra {
    font-family: "Lato", sans-serif;
    font-weight: 900; }
  .section .section-content {
    align-content: center; }
    @media (max-width: 799px) {
      .section .section-content {
        width: 100%; } }
    .section .section-content hr {
      margin: 1rem 0;
      padding: 0; }
