@media (max-width: 599px) {
  .container, .footer, .section {
    margin-left: 1rem;
    margin-right: 1rem; } }

@media (min-width: 600px) {
  .container, .footer, .section {
    margin-left: 5rem;
    margin-right: 5rem; } }

@media (min-width: 900px) {
  .container, .footer, .section {
    margin-left: 10rem;
    margin-right: 10rem; } }

@media (min-width: 1200px) {
  .container, .footer, .section {
    margin-left: 20rem;
    margin-right: 20rem; } }

@media (max-width: 599px) {
  h1 {
    font-size: 2rem; } }

@media (min-width: 600px) {
  h1 {
    font-size: 2.5rem; } }

@media (min-width: 900px) {
  h1 {
    font-size: 3rem; } }

@media (min-width: 1200px) {
  h1 {
    font-size: 4rem; } }

.footer-container {
  border-top: 1px solid #fff;
  margin-top: 50px;
  background: #323648; }

.footer {
  margin-top: 50px;
  display: flex;
  color: #323648; }
  .footer h6, .footer p, .footer a {
    color: #fff; }

.footer-logo {
  height: 30px; }

@media (max-width: 599px) {
  .footer {
    flex-direction: column-reverse; }
    .footer .footer-left {
      width: 100%; }
    .footer .footer-right {
      width: 100%; } }

@media (min-width: 600px) {
  .footer .footer-left {
    width: 50%; }
  .footer .footer-right {
    width: 50%; } }

@media (min-width: 900px) {
  .footer .footer-left {
    width: 55%; }
  .footer .footer-right {
    width: 45%; } }

@media (min-width: 1200px) {
  .footer {
    flex-direction: row; }
    .footer .footer-left {
      width: 60%; }
    .footer .footer-right {
      width: 40%; } }
