@media (max-width: 799px) {
  .home-container,
  .about-container,
  .career-container,
  .services-container,
  .contact-container,
  .footer {
    margin-left: 1rem;
    margin-right: 1rem; } }

@media (min-width: 800px) {
  .home-container,
  .about-container,
  .career-container,
  .services-container,
  .contact-container,
  .footer {
    margin-left: 5rem;
    margin-right: 5rem; } }

@media (min-width: 900px) {
  .home-container,
  .about-container,
  .career-container,
  .services-container,
  .contact-container,
  .footer {
    margin-left: 5rem;
    margin-right: 5rem; } }

@media (min-width: 1200px) {
  .home-container,
  .about-container,
  .career-container,
  .services-container,
  .contact-container,
  .footer {
    margin-left: 20rem;
    margin-right: 20rem; } }

@media (max-width: 799px) {
  h1 {
    font-size: 2rem; } }

@media (min-width: 800px) {
  h1 {
    font-size: 2.5rem; } }

@media (min-width: 900px) {
  h1 {
    font-size: 3rem; } }

@media (min-width: 1200px) {
  h1 {
    font-size: 4rem; } }

.footer-container {
  padding-bottom: 50px;
  padding-top: 50px;
  background: linear-gradient(to right, #000, #18191c, #000);
  border-top: 1px solid #434343; }

.footer {
  display: flex;
  color: #fff; }
  .footer h6, .footer p, .footer a {
    color: #fff; }
  .footer p {
    font-size: 0.913rem; }

.footer-logo {
  height: 20px; }

@media (max-width: 799px) {
  .footer {
    flex-direction: column-reverse; }
    .footer .footer-left {
      width: 100%; }
    .footer .footer-right {
      width: 100%; } }

@media (min-width: 800px) {
  .footer .footer-left {
    width: 50%; }
  .footer .footer-right {
    width: 50%; } }

@media (min-width: 900px) {
  .footer .footer-left {
    width: 55%; }
  .footer .footer-right {
    width: 45%; } }

@media (min-width: 1200px) {
  .footer {
    flex-direction: row; }
    .footer .footer-left {
      width: 60%; }
    .footer .footer-right {
      width: 40%; } }
