@media (max-width: 599px) {
  .container, .footer {
    margin-left: 1rem;
    margin-right: 1rem; } }

@media (min-width: 600px) {
  .container, .footer {
    margin-left: 5%;
    margin-right: 5%; } }

@media (min-width: 900px) {
  .container, .footer {
    margin-left: 10%;
    margin-right: 10%; } }

@media (min-width: 1200px) {
  .container, .footer {
    margin-left: 15%;
    margin-right: 15%; } }
