@media (max-width: 699px) {
  .home-container,
  .about-container,
  .career-container,
  .services-container,
  .contact-container,
  .footer {
    margin-left: 1rem;
    margin-right: 1rem; } }

@media (min-width: 700px) {
  .home-container,
  .about-container,
  .career-container,
  .services-container,
  .contact-container,
  .footer {
    margin-left: 5rem;
    margin-right: 5rem; } }

@media (min-width: 900px) {
  .home-container,
  .about-container,
  .career-container,
  .services-container,
  .contact-container,
  .footer {
    margin-left: 5rem;
    margin-right: 5rem; } }

@media (min-width: 1200px) {
  .home-container,
  .about-container,
  .career-container,
  .services-container,
  .contact-container,
  .footer {
    margin-left: 20rem;
    margin-right: 20rem; } }

@media (max-width: 699px) {
  h1 {
    font-size: 2rem; } }

@media (min-width: 700px) {
  h1 {
    font-size: 2.5rem; } }

@media (min-width: 900px) {
  h1 {
    font-size: 3rem; } }

@media (min-width: 1200px) {
  h1 {
    font-size: 4rem; } }

.header-container {
  height: 80px;
  background: linear-gradient(to right, #000, #212121, #000); }
  .header-container .header-mobile-anchor {
    display: inline-block !important; }

.header-desktop-nav {
  position: absolute;
  right: 0;
  top: 25px; }
  .header-desktop-nav .header-desktop-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-content: center; }
  .header-desktop-nav .header-desktop-menu-item {
    margin-left: 1.5rem; }
    .header-desktop-nav .header-desktop-menu-item :hover {
      opacity: 0.5; }

.header-desktop-logo {
  position: absolute;
  top: 28px;
  height: 24px; }

.header-mobile-logo {
  left: 24px !important;
  top: 16px !important;
  height: 24px; }

.header-mobile-list {
  margin: 0;
  padding: 0; }

@media (max-width: 699px) {
  .header {
    position: fixed;
    background: inherit;
    width: 100%;
    height: 80px;
    z-index: 1000; } }

.hidden {
  overflow: hidden; }

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  top: 25px;
  display: none; }

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #fff;
  height: 4px !important; }

/* Position and sizing of clickable cross button */
.bm-cross-button span {
  top: 0;
  right: 0; }

.header-desktop-menu-item a {
  font-weight: 400; }

.header-mobile-menu-link {
  font-weight: 900; }

.header-mobile-email {
  color: #6d6f7b !important; }

/* Color/shape of close button cross */
.bm-cross {
  background: #323648; }

/* General sidebar styles */
.bm-menu {
  background: #fff;
  padding: 1.5em 1.5em 0;
  text-align: center; }

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #ff3366; }

/* Wrapper for item list */
.bm-item-list {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 40px;
  font-weight: 700; }
  .bm-item-list li {
    list-style-type: none;
    margin-bottom: 1.5rem; }
  .bm-item-list ul {
    padding: 0; }
  .bm-item-list a {
    text-decoration: none;
    color: #323648; }

.header-mobile-hr {
  background: #6d6f7b !important;
  margin: 1rem 0; }

.header-mobile-copyright {
  font-size: 0.913rem; }

/* Styling of overlay */
.bm-overlay {
  background: #fff;
  height: 100vh;
  color: #fff; }

@media (max-width: 699px) {
  .header-desktop-logo {
    left: 1rem; }
  .bm-burger-button {
    right: 1rem;
    display: block; }
  .header-desktop-nav {
    display: none; } }

@media (min-width: 700px) {
  .header-desktop-logo {
    left: 5rem; }
  .bm-burger-button,
  .header-desktop-nav {
    right: 5rem; } }

@media (min-width: 900px) {
  .header-desktop-logo {
    left: 5rem; }
  .bm-burger-button,
  .header-desktop-nav {
    right: 5rem; } }

@media (min-width: 1200px) {
  .header-desktop-logo {
    left: 20rem; }
  .bm-burger-button,
  .header-desktop-nav {
    right: 20rem; } }
