@media (max-width: 699px) {
  .home-container,
  .about-container,
  .career-container,
  .services-container,
  .contact-container,
  .footer {
    margin-left: 1rem;
    margin-right: 1rem; } }

@media (min-width: 700px) {
  .home-container,
  .about-container,
  .career-container,
  .services-container,
  .contact-container,
  .footer {
    margin-left: 5rem;
    margin-right: 5rem; } }

@media (min-width: 900px) {
  .home-container,
  .about-container,
  .career-container,
  .services-container,
  .contact-container,
  .footer {
    margin-left: 5rem;
    margin-right: 5rem; } }

@media (min-width: 1200px) {
  .home-container,
  .about-container,
  .career-container,
  .services-container,
  .contact-container,
  .footer {
    margin-left: 20rem;
    margin-right: 20rem; } }

@media (max-width: 699px) {
  h1 {
    font-size: 2rem; } }

@media (min-width: 700px) {
  h1 {
    font-size: 2.5rem; } }

@media (min-width: 900px) {
  h1 {
    font-size: 3rem; } }

@media (min-width: 1200px) {
  h1 {
    font-size: 4rem; } }

@media (max-width: 699px) {
  .home {
    margin: 0; } }

.home-hr {
  margin: auto;
  height: 1px;
  width: 100%; }

.home-container {
  text-align: center;
  position: relative;
  padding-bottom: 100px; }
  @media (max-width: 699px) {
    .home-container {
      padding-bottom: 0px; } }
  .home-container h1 {
    color: #323648;
    border-bottom: 1px solid #434343;
    padding-bottom: 2rem;
    max-width: 900px; }
  .home-container p {
    color: #6d6f7b;
    max-width: 900px; }

.home-page {
  background: #0a1922; }

.call-to-action-container .call-to-action {
  vertical-align: middle;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white; }
  @media (max-width: 699px) {
    .call-to-action-container .call-to-action {
      padding-top: 0px; } }
  .call-to-action-container .call-to-action > * {
    margin: 1rem; }

.call-to-action-container h1 {
  color: #fff; }

.call-to-action-container p {
  color: #fefefe; }

@media (max-width: 699px) {
  .call-to-action-container h1 {
    font-size: 1.75rem; }
  .call-to-action-container p {
    font-size: 1rem; } }

@media (min-width: 700px) {
  .call-to-action-container h1 {
    font-size: 2.5rem; }
  .call-to-action-container p {
    font-size: 1.15rem; } }

@media (min-width: 900px) {
  .call-to-action-container h1 {
    font-size: 3rem; }
  .call-to-action-container p {
    font-size: 1.25rem; } }

@media (min-width: 1200px) {
  .call-to-action-container h1 {
    font-size: 3rem; }
  .call-to-action-container p {
    font-size: 1.25rem; } }

.image-container {
  width: 100%;
  height: auto;
  margin-top: 50px; }

.example-appear {
  opacity: 0.01; }

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in; }
