@media (max-width: 599px) {
  .home-container,
  .about-container,
  .career-container,
  .services-container,
  .footer {
    margin-left: 1rem;
    margin-right: 1rem; } }

@media (min-width: 600px) {
  .home-container,
  .about-container,
  .career-container,
  .services-container,
  .footer {
    margin-left: 5rem;
    margin-right: 5rem; } }

@media (min-width: 900px) {
  .home-container,
  .about-container,
  .career-container,
  .services-container,
  .footer {
    margin-left: 5rem;
    margin-right: 5rem; } }

@media (min-width: 1200px) {
  .home-container,
  .about-container,
  .career-container,
  .services-container,
  .footer {
    margin-left: 20rem;
    margin-right: 20rem; } }

@media (max-width: 599px) {
  h1 {
    font-size: 2rem; } }

@media (min-width: 600px) {
  h1 {
    font-size: 2.5rem; } }

@media (min-width: 900px) {
  h1 {
    font-size: 3rem; } }

@media (min-width: 1200px) {
  h1 {
    font-size: 4rem; } }

.services-intro-title {
  font-size: 2rem;
  display: block; }
  @media (max-width: 599px) {
    .services-intro-title {
      font-size: 28px; } }

.services-intro-description {
  font-size: 1.15rem; }

.services-intro {
  display: flex;
  flex-direction: row;
  align-items: center; }

.services-container {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  align-items: flex-start; }

.services-intro-link-container {
  border-radius: 2px; }

.services-intro-link-list {
  list-style-type: none;
  padding: 0; }
  .services-intro-link-list .services-intro-link {
    margin-bottom: 1rem; }
    .services-intro-link-list .services-intro-link .services-intro-link-hr {
      margin: 1rem 0; }
