@media (max-width: 699px) {
  .home-container,
  .about-container,
  .career-container,
  .services-container,
  .contact-container,
  .footer {
    margin-left: 1rem;
    margin-right: 1rem; } }

@media (min-width: 700px) {
  .home-container,
  .about-container,
  .career-container,
  .services-container,
  .contact-container,
  .footer {
    margin-left: 5rem;
    margin-right: 5rem; } }

@media (min-width: 900px) {
  .home-container,
  .about-container,
  .career-container,
  .services-container,
  .contact-container,
  .footer {
    margin-left: 5rem;
    margin-right: 5rem; } }

@media (min-width: 1200px) {
  .home-container,
  .about-container,
  .career-container,
  .services-container,
  .contact-container,
  .footer {
    margin-left: 20rem;
    margin-right: 20rem; } }

@media (max-width: 699px) {
  h1 {
    font-size: 2rem; } }

@media (min-width: 700px) {
  h1 {
    font-size: 2.5rem; } }

@media (min-width: 900px) {
  h1 {
    font-size: 3rem; } }

@media (min-width: 1200px) {
  h1 {
    font-size: 4rem; } }

.services-intro-title {
  font-size: 2rem;
  display: block; }
  @media (max-width: 699px) {
    .services-intro-title {
      font-size: 28px; } }

.services-intro-description {
  font-size: 1.15rem; }

.services-intro {
  display: block;
  margin-bottom: 50px; }

.services-wrapper {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-gap: 50px;
  align-items: flex-start; }
  @media (max-width: 699px) {
    .services-wrapper {
      display: block; } }

.services-intro-link-container {
  border-radius: 2px; }

.services-intro-link-list {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  .services-intro-link-list .services-intro-link {
    margin-bottom: 1rem;
    border-bottom: 1px solid #ebebeb;
    padding: 1rem 0; }
    .services-intro-link-list .services-intro-link :hover {
      color: #ff3366; }
